@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
 
body {
    min-height: 100vh;
    background: #dfe0e4;
    display: flex;
    overflow: hidden; 
}
 
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #40566d;
    padding: 25px 20px;
    transition: all 0.4s ease;
}
 
.sidebar:hover {
    width: 260px;
}
 
.sidebar .sidebar-header {
    display: flex;
    align-items: center;
}
 
.sidebar .sidebar-header img {
    width: 42px;
    border-radius: 50%;
}
 
.sidebar .sidebar-header h2 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 23px;
    opacity: 0;
    transition: opacity 0.3s;
}
 
.sidebar:hover .sidebar-header h2 {
    opacity: 1;
}
 
.sidebar-links h4 {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
}
 
.sidebar-links h4 span {
    opacity: 0;
}
 
.sidebar:hover .sidebar-links h4 span {
    opacity: 1;
}
 
.sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #4f52ba;
    transform-origin: right;
    transition-delay: 0.2s;
}
 
.sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
}
 
.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow: hidden; 
    scrollbar-width: none;
}
 
.sidebar-links::-webkit-scrollbar {
    display: none;
}
 
.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.2s ease;
}
 
.sidebar-links li a .text {
    opacity: 0;
    transition: opacity 0.3s;
}
 
.sidebar:hover .sidebar-links li a .text {
    opacity: 1;
}
 
.sidebar-links li a:hover {
    color: #161a2d;
    background: #fff;
    border-radius: 4px;
}
 
.content {
    margin-left: 100px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.4s;
}
 
.sidebar:hover+.content {
    margin-left: 260px;
}
 
h2 {
    text-align: center;
    margin-bottom: 20px;
}
 
.table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto; 
    max-height: calc(100vh - 200px); 
    margin: 20px 0px 10px 10px;
}
 
#device-data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(236, 232, 232, 0.1);
    border-radius: 5px;
}
 
#device-data-table thead {
    position: sticky;
    top: 0;
    background-color: #1b58db;
    z-index: 2;
}
 
th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}
 
tr {
    min-height: 40px;
    height: auto;
}
 
tr td:first-child,
tr th:first-child {
    padding-left: 10px;
}
 
th {
    background-color: #1b58db;
    font-weight: 600;
    color: white;
}
 
tr:hover {
    background-color: #f9fafb;
}
 
.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4f52ba;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
 
.submit-btn:hover {
    background-color: #3741b4;
}
 
.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}
 
.device-id-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 10px; 
    margin-left: 20px;
}
 
.device-id-label {
    font-size: 18px;
    color: #705959;
    margin-bottom: 0; 
}
 
.device-id-dropdown {
    margin-top: 30px;
    margin-right: auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #f3f025;
    background-color: #184b63;
    color: white;
    border-radius: 5px;
    width: 500px;
    margin-left: 20px;
}
 
.device-id-dropdown option {
    background-color: #2b2b2b;
    color: white;
}
 
.device-id-dropdown:focus {
    outline: none;
    border-color: #ff9800;
}
 
.nextBtn {
    padding: 12px;
    background-color: #1b58db;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 250px;
}
 
.nextBtn:hover {
    background-color: #1b58db;
} 

.access-denied-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f0f0f0; 
    color: #333; 
    border: 1px solid #ffcccc; 
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.4s ease;
}

.sidebar:hover ~ .content .access-denied-card {
    margin-left: 160px; 
}

.close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1b58db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.close-btn:hover {
    background-color: #3741b4;
}   
